<html>
    <head>
        <title>RUI test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
        <style>
            body,html{
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <canvas id="ruicanvas" style="width:100%;height:100%; background-color:#333"></canvas>
        <script>
            require(['rui'],rui=>{
                let canvas = document.getElementById('ruicanvas');
                let ruitest = new rui.RUITest(canvas);


                function onFrame(ts){
                    ruitest.OnFrame(ts);
                    window.requestAnimationFrame(onFrame);
                }
                window.requestAnimationFrame(onFrame);
            })
        </script>
    </body>
</html>